*{
    color: red;
}

h3{
    color: brown;
    font-size: 25px;
}


#p1 {
    color: navy;
    font size: 30px;

}

.demo {
    color: seagreen;
    font-size: 30px;
    background-color: purple;
}


h5,li {
    color: bisque;
    font-size: 30px;
}

ul>li {
    color: plum;
}